encryption = "age"
[age]
    identity = "~/.config/sops/age/keys.txt"
    recipient = "age1678c49m26n9jcp80yxf8853h65ypf3p7kt9fllyvzt0g84j7efzqum6u3d"

{{ if or (lookPath "pwsh.exe") (lookPath "pwsh")  -}}
[interpreters.ps1]
    command = "pwsh"
    args = ["-NoLogo"]
{{ end }}
